*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  color:white;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: purple;
}

.box1{
  height: 100px;
  width: 200px;
  padding: 1px;

  background-image: url("assets/1.jpg");
  background-size: cover;
  background-position: center;
  border: 20px groove red;

  letter-spacing: 0.5rem;
  line-height: 1rem;
  word-spacing: 1rem;
  direction: rtl;
  font-style: oblique;

  h1{
    color:white;
    font-size: 100%;
  }
  a{
    display: block;
    text-decoration: none;
    color:yellow;
  }
  a:active{
    color: green;
  }
  a:visited{
    color: red;
  }
}


